.socialIcons {
    a {
        font-size: 3rem;
        margin: 0.5rem;
        color: #375a7d;
    }
    a:hover {
        color: #31509e;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    flex-grow: 1;
}

.footer {
    margin-top: 3.5rem;
    flex-shrink: 0;
}
